// Your custom SCSS should be written here...
#bg
{
      background: url(http://www.hdtimelapse.net/content/HDtimelapse.net_People/HDtimelapse.net_People_0138_hirez.jpg);
      opacity: 0.5;
      z-index: -1;
      background-position:center;
      background-size:cover;
}
