{% extends "base.html" %}
{% block body %}
<p>
  Hello, {{ session['user'] }}.
</p>
<table class="striped">
  <thead>
    <tr>
      <th>Hunts</th>
      <th>Prize Left</th>
      <th>Keys</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in hunts %}
    <tr>
      <td>{{ entry.huntname }}</td>
      <td>{{ entry.prize }}</td>
      <td>{% for k in entry.keys %} ({{ k }}) {% endfor %} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class = "medium primary btn">
  <a href="createhunt"> Create Hunt! </a>
</div>
{% endblock %}
