{% extends "base.html" %}
{% block body %}
<p>
  Your currently ongoing hunts.
</p>
<table class="striped">
  <thead>
    <tr>
      <th>Hunts</th>
      <th>Prize Left</th>
      <th>Participants</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in hunts %}
    <tr>
      <td>{{ entry.huntname }}</td>
      <td>{{ entry.prize }}</td>
      <td>{{ entry.participants }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class = "medium primary btn">
  <a href="createhunt"> Create Hunt! </a>
</div>
{% endblock %}
