<!doctype html>
<header>
<link type="text/css" href="{{url_for('static', filename='css/gumby.css')}}" rel="stylesheet">
<script type="text/javascript" src="{{url_for('static',filename='gumby.min.js')}}" ></script>
<title>Shopping Game</title>
</header>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
<body>
{% block body %}{% endblock %}
</body>
</html>
