<!doctype html>
<header>

<script type="text/javascript" src="{{url_for('static',filename='js/libs/modernizr-2.6.2.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/libs/jquery-2.0.2.min.js')}}"></script>
<link type="text/css" href="{{url_for('static', filename='css/gumby.css')}}" rel="stylesheet">
<script type="text/javascript" src="{{url_for('static',filename='gumby.min.js')}}" ></script>
<script type="text/javascript">
$(document).ready(function (){
        $('body').css('opacity', '0').fadeTo(1500, 1,'swing'); 
        });
</script>
<title>Shopping Game</title>
</header>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
<body>
<div class="row navbar pretty" id="nav1">
  <ul class="eight columns">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="viewhunts">Hunts</a>
    </li>
    {% if 'user' in session %}
    <li>
      <a href="#">Advertisers</a>
      <div class = "dropdown">
        <ul>
          <li><a href="adhome">My Account</a></li>
          <li><a href="createhunt">Create Hunt</a></li>
        </ul>
      </div>
    </li>
    {% endif %}
  </ul>
</div>
{% block body %}

{% endblock %}
</body>
</html>
