{% extends "base.html" %}
{% block body %}
<script>
$(document).ready(function(){
$("#add").click(function(){
var intId=Math.floor(($("#listhunt").length-2)/2)+1;
var fieldwrapper1=$("<li class='field'></li>");
var lbl1 = $("<label class='inline' for='key"+intId+"'>Key</label>");
var inp1 = $("<input class='narrow number input' type='number' id='key"+intId+"' name='keys[]' placeholder='11111' required/>");
var fieldwrapper2=$("<li class='field'></li>");
var lbl2 = $("<label class='inline' for='clue"+intId+"'>Clue</label>");
var inp2 = $("<textarea class='input textarea' type='number' id='clue"+intId+"' name='clues[]' placeholder='Take a picture of the first item on aisle 9' required/></textarea>");
fieldwrapper1.append(lbl1);
fieldwrapper1.append(inp1);
$("#listhunt").append(fieldwrapper1);
fieldwrapper2.append(lbl2);
fieldwrapper2.append(inp2);
$("#listhunt").append(fieldwrapper2);
});
});
</script>
<form name="addhunt" action="addhunt" method="post" accept-charset="utf-8">
<fieldset id="addhuntfield">
<legend>Add Hunt</legend>
<ul id="listhunt" class="valign">
  <li class="field">
    <label class="inline" for="name">Name</label>
    <input class = "wide text input" type="text" name="name" placeholder="your hunt name" required/>
  </li>
  <li class="field">
    <label class="inline" for="prize">Prize</label>
    <input class = "narrow number input" type="number"  name="prize" placeholder="0.00" required/>
  </li>
  <li class="field">
    <label class="inline" for="reward">$/Person</label>
    <input class = "narrow number input" type="number"  name="reward" placeholder="0.00" required/>
  </li>
  <li class="field">
    <label class="inline" for="key1">Key</label>
    <input class = "narrow number input" type="number" id="key1" name="keys[]" placeholder="3929182" required/>
  </li>
  <li class="field">
    <label class="inline" for="clue1">Clue</label>
    <textarea class = "input textarea" type="text" id="clue1" name="clues[]" placeholder="Take a picture of the first item on aisle 9" required/></textarea>
  </li>
</ul>
</fieldset>
<div class="medium primary btn">
  <input type="button" value="Add Key" id="add"/>
</div>
<div class="medium primary btn">
<input type="submit" value="Submit">
</div>
</form>

{% endblock %}
