{% extends "genericbase.html" %}
{% block gbody %}
<form name="signup" action="#" method="post" accept-charset="utf-8">
<fieldset style="width:75%; left:13%; position:relative;" >
<ul>
<li class="field">
Email:<input type="email" name="signup_email" placeholder="youremail@email.com" required />
</li>
<li class="field">
Firm:<input type="text" name="signup_firm" placeholder="your firm name" required/>
</li>
<li class="field">
DWolla OAuth:<input type="text" name="signup_token" placeholder="Your Secret OAuth Token" required/>
<input type="text" name="signup_pin" placeholder="Dwolla Pin" required/>
</li>
<li class="field">
Password:<input type="password" name="signup_password" placeholder="your_password" required />
</li>
</ul>
<div class = "medium primary btn">
  <input type="submit" value="Sign Up">
</div>
</fieldset>
</form>

{% endblock %}
