{% extends "genericbase.html" %}
{% block gbody %}
<div style="width:75%; left:13%; position:relative;">
<h2 style="background-color:#FFFFFF;">
Text {{ phone }} the name of the hunt to get your first clue!
</h2>
<table class="striped">
  <thead>
    <tr>
      <th>Hunts</th>
      <th>Prize Left</th>
      <th>Length of Hunt</th>
      <th>Company</th>
    </tr>
  </thead>
  <tbody class="product">
    {% for entry in hunts %}
    <tr>
      <td>{{ entry.huntname }}</td>
      <td>{{ entry.prize }}</td>
      <td>{{ entry.length }}</td>
      <td>{{ entry.Firm }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
