{% extends "base.html" %}
{% block body %}
<p style="font-size:1.4em;">
Text {{ phone }} the name of the hunt to get your first clue!
</p>
<table class="striped">
  <thead>
    <tr>
      <th>Hunts</th>
      <th>Prize Left</th>
      <th>Length of Hunt</th>
      <th>Company</th>
    </tr>
  </thead>
  <tbody class="product">
    {% for entry in hunts %}
    <tr>
      <td>{{ entry.huntname }}</td>
      <td>{{ entry.prize }}</td>
      <td>{{ entry.length }}</td>
      <td>{{ entry.Firm }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
