{% extends "genericbase.html" %}
{% block gbody %}
<div style="width:50%; left:25%; position:relative;">
<div style="text-align: center">
Text {{ phone }} the name of the hunt to get your first clue!
</div>
<table class="striped">
  <thead>
    <tr>
      <th>Hunts</th>
      <th>Prize Left</th>
      <th>Length of Hunt</th>
      <th>Company</th>
    </tr>
  </thead>
  <tbody class="product">
    {% for entry in hunts %}
    <tr>
      <td>{{ entry.huntname }}</td>
      <td>{{ entry.reward }}</td>
      <td>{{ entry.length }}</td>
      <td>{{ entry.Firm }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
